/*=====STYLE=====*/

/*---HEADER---*/

.page-header {
    background-color: black;
    position: absolute;
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    top: 0px;
    height: 130px;
}

.header-top{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    height: 90px;
}

/*LOGO*/

.logo-container{
    margin-left: 0;
    width: 17%;
    height: 90px;
    position: absolute;
    border: 1px solid white;
}

.logoText {
    color: white;
    padding-left: 20px;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

/*SEARCH*/

.search-container{
    margin-left: 17%;
    margin-right: 17%;
    width: 66%;
    height: 90px;
    float: left;
    border: 1px solid white;
}

#search-form{
    width: 800px;
    height: 70px;
    margin-left: 100px;
    margin-top: 5px;
    align-content: center;
}

.form-input{
    width: 550px;
    height: 50px;
    margin-top: 10px;
}

.search-button{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    border-radius: 2px;
    background-color: black;
}

.search-icon{
    width: 50px;
    height: 50px;
    margin-left: -2px;
    margin-top: -2px;
}

/*NIEZALOGOWANY*/

.header-top-login{
    width: 17%;
    margin-right: 0;
    margin-left: 83%;
    margin-top: 0;
    float: right;
    position: absolute;
    height: 90px;
    border: 1px solid white;
}
.not-login-list{
    display: flex;
    margin-left: -40px;
}

.not-login-item{
    list-style: none;
    padding: 15px;
    margin-top: 15px;
}

.not-login-link{
    color: white;
    font-size: 17px;
}

.not-login-link:hover{
    color: red;
    text-decoration: none;
}

/*USER PANEL*/

.user-header-panel{
    width: 17%;
    margin-right: 0;
    right: 0;
    top: 0;
    position: absolute;
}


/*MENU AND SUBMENU*/

.header-bottom {
    width: 66%;
    top: 90px;
    height: 42px;
    margin-left: 17%;
    margin-right: 17%;
    background-color: black;
    border: 1px solid white;
}

.menu-bottom-list{
    display: flex;
    width: max-content;
    height: 42px;
    margin-left: -39.5px;
}

.menu-bottom-item{
    display: inline-block;
    width: auto;
    position: relative;
    padding: 6px 8.8px 8.8px;
    background-color: red;
}

.menu-link{
    color: white;
}

.menu-link:hover{
    color: black;
    text-decoration: none;
}

.submenu-bottom-list{
    display: none;
    list-style: none;
}

.menu-bottom-item:hover > div ul{
    visibility: visible;
    display: block;
    list-style: none;
}

.header-bottom-submenu{
    display: block;
    position: absolute;
    width: max-content;
    box-sizing: border-box;
    padding-right: 15px;
    top: 42px;
    background-color: white;
}

.submenu-bottom-list:hover{
    display: block;
}

.menu-submenu-item{
    list-style: none;
    margin-left: -10px;
}

.menu-submenu-link:hover{
    background-color: gold;
}


/*---PAGE CONTENT---*/

.pageContainer {
    left: 0px;
    background-color: red;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 130px;
    height: 100%;
}

.page-content{
    background-color: black;
    align-content: center;
    margin-left: 17%;
    margin-right: 17%;
}

/*NEWSBOX*/

.main-news-container{
    border: 1px solid white;
}
/*---FOOTER---*/

#footer-section {
    margin: 0;
    margin-left: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    bottom: auto;

    /*bottom: 0;*/
    left: 0;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 927px;
    height: 77px;
}

.footer-background {
    left: 0;
    width: 100%;
}

.footer-background-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-top: 0px solid rgba(0, 0, 0, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 1);
}

footer-centered-content {
    width: 100%;
}

.footer-inline-content {
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 200px;
}

#LnkBr2 {
    margin-left: calc((100% - 980px) * 0.5);
}

.lblitemsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

#LnkBr2itemsContainer {
    list-style: none;
}

.lbimageItem {
    width: 21px;
    height: 21px;
    margin-bottom: 0;
    margin-right: 13px;
    display: inline-block;
}

.imageItemlink {
    cursor: pointer;
}

#copyright {
    left: 600px;
    top: 29px;
    position: absolute;
    height: 25px;
}

.cpr {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}